@import "tailwindcss/preflight" layer(base);
@import "tailwindcss" layer(utilities);

body {
  font-family: var(--font-work-sans);
}
/* Your custom layers */
@layer base {
  /* h1 {
    @apply text-3xl font-bold;
  } */

  a {
    @apply text-blue-600 underline;
  }
}

@layer components {
  
  .flex-between {
    @apply flex justify-between items-center;
  }

  .text-30-extrabold {
    @apply text-[30px] font-extrabold text-white;
  }

  .text-30-bold {
    @apply text-[30px] font-bold text-black;
  }

  .text-30-semibold {
    @apply font-semibold text-[30px] text-black;
  }

  .text-26-semibold {
    @apply font-semibold text-[26px] text-black;
  }

  .text-24-black {
    @apply text-[24px] font-black text-black;
  }

  .text-20-medium {
    @apply font-medium text-[20px] text-black;
  }

  .text-16-medium {
    @apply font-medium text-[16px] text-black;
  }

  .text-14-normal {
    @apply font-normal text-sm text-white;
  }


  .pink_container {
    @apply w-full bg-[#EE2B69] min-h-[530px] flex justify-center items-center flex-col py-10 px-6;
  }

  .tag {
    @apply bg-[#FBE843] px-6 py-3 font-bold rounded-sm uppercase relative before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }

  .heading {
    @apply uppercase bg-black px-6 py-3 font-extrabold text-white sm:text-[54px] sm:leading-[64px] text-[20px] leading-[46px] max-w-5xl text-center my-5;
  }

  .sub-heading {
    @apply font-medium text-[20px] text-white max-w-2xl text-center break-words;
  }

  .search-form {
    @apply max-w-3xl w-full min-h-[80px] bg-white border-[5px] border-black rounded-[80px] text-[24px] mt-8 px-5 flex flex-row items-center gap-5;
  }

  .search-input {
    @apply flex-1 font-bold  w-full h-auto placeholder:font-semibold placeholder:text-gray-300 outline-none text-black;
  }

  .search-btn {
    @apply size-[50px] rounded-full bg-black flex justify-center items-center;
  }

  .section_container {
    @apply px-6 py-10 max-w-7xl mx-auto;
  }

  .blog-card {
    @apply bg-white border-[5px] border-black py-6 px-5 rounded-[22px] shadow-[3px_3px_0px_0px_rgb(0,_0,_0)] hover:border-[#EE2B69] hover:shadow-[3px_3px_0px_3px_rgb(238,_43,_105)] transition-all duration-500 hover:bg-[#FFE8F0];
  }

  .blog-card_date {
    @apply font-medium text-[16px] bg-[#FFE8F0] px-4 py-2 rounded-full group-hover:bg-[#F7F7F7];
  }

  .blog-card_desc {
    @apply font-normal text-[16px] line-clamp-2 my-3 text-[#333333] break-all;
  }

  .blog-card_img {
    @apply w-full h-[164px] rounded-[10px] object-cover;
  }

  .blog-card_btn {
    @apply rounded-full bg-[#141413] font-medium text-[16px] text-white px-5 py-3;
  }

  .blog-card_skeleton {
    @apply w-full h-96 rounded-[22px] bg-zinc-400;
  }

  .card_grid {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5;
  }

  .card_grid-sm {
    @apply grid sm:grid-cols-2 gap-5;
  }

  .category-tag {
    @apply font-medium text-[16px] bg-[#FFE8F0] px-4 py-2 rounded-full;
  }

  .blog-form {
    @apply max-w-2xl mx-auto bg-white my-10 space-y-8 px-6;
  }

  .blog-form_label {
    @apply font-bold text-[18px] text-black uppercase;
  }

  .blog-form_input {
    @apply border-[3px] border-black px-5 py-7 text-[18px] text-black font-semibold rounded-full mt-3 placeholder:font-semibold placeholder:text-gray-300;
  }

  .blog-form_textarea {
    @apply border-[3px] border-black p-5 text-[18px] text-black font-semibold rounded-[20px] mt-3 placeholder:font-semibold placeholder:text-gray-300;
  }

  .blog-form_editor {
    @apply mt-3 p-0  border-[3px] border-black text-[18px] text-black font-semibold placeholder:text-black;
  }

  .blog-form_btn {
    @apply bg-[#EE2B69] border-[4px] border-black rounded-full p-5 min-h-[70px] w-full font-bold text-[18px];
  }

  .profile_container {
    @apply w-full pb-10 pt-20 px-6 max-w-7xl mx-auto lg:flex-row flex-col flex gap-10;
  }

  .profile_card {
    @apply w-80 px-6 pb-6 pt-20 flex flex-col justify-center items-center bg-[#EE2B69] border-[5px] border-black shadow-[2px_2px_0px_0px_rgb(0,_0,_0)] rounded-[30px] relative z-0 h-fit max-lg:w-full;
  }

  .profile_title {
    @apply w-11/12 bg-white border-[5px] border-black rounded-[20px] px-5 py-3 absolute -top-9 after:absolute after:content-[''] after:-top-1 after:right-0 after:-skew-y-6 after:bg-black after:-z-[1] after:rounded-[20px] after:w-full after:h-[60px] before:absolute before:content-[''] before:-bottom-1 before:left-0  before:-skew-y-6 before:w-full before:h-[60px] before:bg-black  before:-z-[1] before:rounded-[20px] shadow-[2px_2px_0px_0px_rgb(0,_0,_0)];
  }

  .profile_image {
    @apply rounded-full object-cover border-[3px] border-black;
  }

  .follow-btn {
   @apply border
  }

  .unfollow-btn {
    @apply border
  }

  

  

}

@layer utilities {
  .pattern {
    background-image: linear-gradient(
            to right,
            transparent 49.5%,
            rgba(251, 233, 67, 0.358) 49.5%,
            rgba(251, 233, 67, 0.694) 50.5%,
            transparent 50.5%
    );
    background-size: 5% 100%;
    background-position: center;
    background-repeat: repeat-x;
  }
  .tag-tri {
    @apply before:content-[''] before:absolute before:top-2 before:left-2 before:border-t-[10px] before:border-t-black before:border-r-[10px] before:border-r-transparent after:content-[''] after:absolute after:bottom-2 after:right-2 after:border-b-[10px] after:border-b-black after:border-l-[10px] after:border-l-transparent;
  }
}


.tiptap {
  margin-top: 1rem;
  min-height: 360px;
}

.tiptap :first-child {
  margin-top: 0;
}

.tiptap blockquote {
  border-left: 3px solid gray;
  margin: 1.5rem 0;
  padding-left: 1rem;
}

.tiptap ul,
.tiptap ol {
  padding: 0 1rem;
  margin: 1.25rem 1rem 1.25rem 0.4rem;
}
.tiptap ul {
  list-style-type: disc;
}
.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul li p,
.tiptap ol li p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

.tiptap pre {
  background: #313030;
  border-radius: 0.5rem;
  color: white;
  font-family: 'JetBrainsMono', monospace;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  overflow-x: auto;
}

.tiptap pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code syntax highlighting */
.tiptap pre .hljs-comment,
.tiptap pre .hljs-quote {
  color: #616161;
}

.tiptap pre .hljs-variable,
.tiptap pre .hljs-template-variable,
.tiptap pre .hljs-attribute,
.tiptap pre .hljs-tag,
.tiptap pre .hljs-regexp,
.tiptap pre .hljs-link,
.tiptap pre .hljs-name,
.tiptap pre .hljs-selector-id,
.tiptap pre .hljs-selector-class {
  color: #f98181;
}

.tiptap pre .hljs-number,
.tiptap pre .hljs-meta,
.tiptap pre .hljs-built_in,
.tiptap pre .hljs-builtin-name,
.tiptap pre .hljs-literal,
.tiptap pre .hljs-type,
.tiptap pre .hljs-params {
  color: #fbbc88;
}

.tiptap pre .hljs-string,
.tiptap pre .hljs-symbol,
.tiptap pre .hljs-bullet {
  color: #b9f18d;
}

.tiptap pre .hljs-title,
.tiptap pre .hljs-section {
  color: #faf594;
}

.tiptap pre .hljs-keyword,
.tiptap pre .hljs-selector-tag {
  color: #70cff8;
}

.tiptap pre .hljs-emphasis {
  font-style: italic;
}

.tiptap pre .hljs-strong {
  font-weight: 700;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
  margin-top: 2.5rem;
  text-wrap: pretty;
}

.tiptap h1,
.tiptap h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

.tiptap h1 {
  font-size: 3rem;
}

.tiptap h2 {
  font-size: 2rem;
}

.tiptap h3 {
  font-size: 1.2rem;
}

.tiptap h4,
.tiptap h5,
.tiptap h6 {
  font-size: 1rem;
}

.tiptap hr {
  border: none;
  border-top: 1px solid gray;
  margin: 2rem 0;
  cursor: pointer;
}

.tiptap hr.ProseMirror-selectednode {
  border-top: 1px solid purple;
}

.tiptap table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  margin: 1rem 0;
}

.tiptap table td,
.tiptap table th {
  border: 1px solid gray;
  padding: 6px 8px;
  position: relative;
  vertical-align: top;
  min-width: 1em;
}

.tiptap table th {
  background-color: red;
  font-weight: bold;
  text-align: left;
}

.tiptap table td > * {
  margin-bottom: 0;
}

.tiptap .selectedCell:after {
  content: "";
  background: yellow;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  pointer-events: none;
}

.tiptap .column-resize-handle {
  background-color: purple;
  position: absolute;
  top: 0;
  right: -2px;
  bottom: -2px;
  width: 4px;
  pointer-events: none;
}

.tiptap .tableWrapper {
  margin: 1.5rem 0;
  overflow-x: auto;
}

.tiptap.resize-cursor {
  cursor: col-resize;
}

.tiptap mark {
  background-color: #FAF594;
  border-radius: 0.4rem;
  padding: 0.1rem 0.3rem;
  box-decoration-break: clone;
}

.tiptap code {
  background-color: purple;
  border-radius: 0.4rem;
  color: black;
  font-size: 0.85rem;
  padding: 0.25em 0.3em;
}

.tiptap a {
  color: purple;
  cursor: pointer;
  text-decoration: underline;
}

.tiptap a:hover {
  color: #711371;
}

/* Active toolbar button styling */
.toolbar-button.is-active {
  background-color: yellow;
  border-radius: 4px;
}
